.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.logo {
	width: 4rem;
	height: 4rem;
}

@keyframes wfc-fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fadein {
	opacity: 0;
	animation: wfc-fade-in 400ms linear 1 forwards;
	animation-delay: 1s;
}
