.root {
	position: relative;
	width: 115.4938mm;
	height: 140.5636mm;
	overflow: hidden;
}

.diagram {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	opacity: 0.3;
}

.oled {
	position: absolute;
	top: 3.8mm;
	left: 57.55mm;
	z-index: 1;
}

.oled canvas {
	width: 49mm;
}

.oled-frame {
	border: 1px solid #aaa;
	width: min-content;
	height: min-content;
}

.lights {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
