@media screen {
	.root {
		display: inline-block;
		width: 100%;
		height: 100%;
		opacity: 0;
		animation: oro-logo-fade-in 2s 1 forwards linear 0.6s;
	}
}

@keyframes oro-logo-orbit-switch {
	0% {
		stroke: #ffffffff;
	}
	49.999% {
		stroke: #ffffffff;
	}
	50% {
		stroke: #ffffff00;
	}
	99.999% {
		stroke: #ffffff00;
	}
	100% {
		stroke: #ffffffff;
	}
}

@keyframes oro-logo-fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@property --oro-logo-orbit-phase {
	syntax: "<number>";
	initial-value: 0;
	inherits: true;
}

@property --oro-logo-orbit-offset {
	syntax: "<number>";
	initial-value: 0;
	inherits: true;
}

@keyframes oro-logo-orbit-offset {
	0% {
		--oro-logo-orbit-offset: 0;
	}
	100% {
		--oro-logo-orbit-offset: 50;
	}
}

@keyframes oro-logo-orbit-phase {
	0% {
		--oro-logo-orbit-phase: 0;
	}
	49.999% {
		--oro-logo-orbit-phase: 0;
	}
	50% {
		--oro-logo-orbit-phase: 50;
	}
	100% {
		--oro-logo-orbit-phase: 50;
	}
}

.root {
	/* initial position for browsers that don't support properties */
	--oro-logo-orbit-phase: 0;
	--oro-logo-orbit-offset: 11;
}

@media screen {
	.root .moon-offset,
	.root .moon-offset-front {
		animation:
			oro-logo-orbit-offset 3s cubic-bezier(0.43, 0.19, 0.6, 0.84)
				infinite reverse,
			oro-logo-orbit-phase 6s linear infinite reverse !important;
	}
}

@media print {
	.root .moon-offset,
	.root .moon-offset-front {
		animation: unset !important;
		offset-distance: 11% !important;
	}

	.root circle {
		fill: white !important;
		fill: Canvas !important;
	}
}

.root .moon-offset {
	offset-path: path(
		"M116.492,17.008C125.724,26.24 111.043,55.913 83.728,83.228C56.413,110.543 26.74,125.224 17.508,115.992C8.276,106.76 22.957,77.087 50.272,49.772C77.587,22.457 107.26,7.776 116.492,17.008Z"
	);
	offset-distance: calc(
		(var(--oro-logo-orbit-offset) + var(--oro-logo-orbit-phase)) * 1%
	);
}

.root .moon-offset-front {
	offset-path: path(
		"M116.492,17.008C125.724,26.24 111.043,55.913 83.728,83.228C56.413,110.543 26.74,125.224 17.508,115.992M-198.984,331.771C-208.216,322.539 -193.535,292.866 -166.22,265.551C-138.905,238.236 -109.232,223.555 -100,232.787"
	);
	offset-distance: calc(
		(var(--oro-logo-orbit-offset) + var(--oro-logo-orbit-phase)) * 1%
	);
}
