@keyframes status-opacity-fade {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.4;
	}
}

.fade {
	text-transform: uppercase;
	font-size: 0.7rem;
	opacity: 1;
	animation: status-opacity-fade 0.4s alternate infinite;
}
